.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 340px;
}

.board > tr {
  height: 110px;
}

.board > tr > td {
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  border: 1px solid #000000;
  cursor: pointer;
}

.board > tr > td:hover {
  background-color: rgb(240, 240, 240);
}

.alert.off {
  display: none;
}
